<!doctype html>
<html lang="en" ng-app="tlist">
<head>
    <meta charset="UTF-8">
    <title>Angular Demo</title>
    <script src="lib/angular/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<form id="todo-form" ng-submit="submit()" ng-controller="addController">
    <input id="new-todo" type="text" ng-model="text" name="text" placeholder="What needs to be done?"/>
        <ul id="todo-list" ng-repeat="task in taskList track by $index">
        <li >
        <input type="checkbox" ng-click="myStyle={color: 'green'}">
        <label ng-style="myStyle">{{task}}</label>
        <button class="destroy" ng-click="remove(task)"></button>
        </li>
    </ul>
</form>
</body>
</html>

